<?xml version ="1.0"?>
<robot name="my_arm">
    <joint name="base_yaw_joint" type="revolute">
        <origin xyz="0 0 0.025" rpy="0 0 0"/>
        <parent link="base_link"/>
        <child link="base_column_link"/>
        <axis xyz = "0 0 1"/>
        <limit effort="30" velocity="1.0" lower="-3.6" upper="3.6"/>
    </joint>
    <joint name="arm_pitch_joint" type="revolute">
        <origin xyz="0 0 0.5" rpy="0 1.57 0"/>
        <parent link="base_column_link"/>
        <child link="horizontal_arm_base_link"/>
        <axis xyz="0 1 0"/>
        <limit effort="30" velocity="1.0" lower="-1" upper="1"/>
    </joint>
    <link name="base_link">
        <visual>
            <collision>
                <geometry>
                    <box size="0.2 0.2 0.05"/>
                </geometry>
            </collision>
        </visual>
    </link>
    <link name="base_column_link">
        <visual>
            <origin xyz="0 0 0.25"/>
            <collision>
                <geometry>
                    <cylinder radius="0.05" length="0.5"/>
                </geometry>
            </collision>
        </visual>
    </link>
    <link name="horizontal_arm_base_link">
        <visual>
            <origin xyz="0 0 0.3"/>
            <geometry>
                <cylinder radius="0.05" length="0.5"/>
            </geometry>
        </visual>
    </link>
</robot> 
